# Supabase Configuration
# Replace these with your project's credentials from the Supabase Dashboard
PORT=5000
SUPABASE_URL=https://bikkdvswfxnxbsfwipns.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpa2tkdnN3ZnhueGJzZndpcG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NjI4NzUsImV4cCI6MjA4ODMzODg3NX0.Ac3G_906_OJ7ZTgjeZwTtMhSswNQxJgFVzhYCRTQbLk
JWT_SECRET=mar6salmarasecretkey

# Shopify Configuration
VITE_SHOPIFY_STOREFRONT_TOKEN=your_shopify_storefront_token
VITE_SHOPIFY_STORE_DOMAIN=your_store_name.myshopify.com
VITE_SHOPIFY_API_VERSION=2025-07