# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
!.env.example

# Temporary Scripts and Data
add_products.mjs
fetch_orders.mjs
upload_images.mjs
error.json
test.json
output.json
vite.config.ts.timestamp*

# Debug & build output files
build_log.txt
tsc_output.txt
test_db.js

